/*kstreetco.css*/
/*
Need to decide color scheme -- replace #000/#f9f9f9
*/
body{
	background-color: #2a2a2a;
	height:100%;
	width:100%;
}
h1,h2,h3,h4, p{
	color: #f9f9f9;
}

.hero-unit h1{
	color: #f9f9f9;
	text-align: center;
}
.kstreet_banner{
	background-color: #000;
	opacity: .95;
}
.kstreet_nav{
	background-color: transparent;
}
#upcoming_shows{
	background-color: #000;
	color: #f9f9f9;
	border-radius: 3px;
}
#topNav{
position: fixed;
top: 0px;
}
.navbar-inner{
	background-image: none;
	background-color: transparent;
}
#main_nav{
	background-color:transparent;
}
#home, #members{
	opacity: .87;
}
.row, .dark{
	background-color:#000;
}
#media{
	width: 50%;
	text-align:center;
}
#nav_wrapper{
height: 80px;
margin-left: 60%;
z-index:1000;
}
.edit_nav{
color: #000;
border-radius: 3px;
float:right;
}
.title_header{
	border-bottom: 1px dotted #f9f9f9;
	background-color:#000;
}
.title_header h3{
	margin-left: 2%;
}
.navbar .nav > li > a {
	text-shadow: none;
	font-weight: bold;
	border: 1px solid #f9f9f9;
	border-radius: 7px;
	color: #f9f9f9;
	background-color: #000;
}
.navbar .nav > li > a:hover {
background-color: #f9f9f9;
color: #000;
}
.main_nav{
	font-weight:bold;
}